.section {
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    border-left: 0.5em solid #ed7966;
}

.title {
    color: #ed7966;
    font-size: 2rem;
}

.desc {
    font-size: 1.25rem;
    line-height: 1.25;
}

.highlight {
    color: #ed7966;
    font-weight: bold;
}
