.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    max-width: 800px;
    width: 100%;
    border-left: 0.5em solid #ed7966;
    padding: 2em;
}

.title {
    color: #ed7966;
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
}

.card {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #ed7966;
}

.card img {
    height: 3em;
    width: 3em;
}
